<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="teamDetails(team)" class="teamDetails">

    <h1 th:text="${team.name} + ' (Captain : ' + ${team.captainName} + ')'"></h1>

    <div class="table-responsive" >
        <table class="table">
            <tr class="active">
                <th th:text="Shirt"></th>
                <th th:text="Position"></th>
                <th th:text="Username"></th>
                <th th:text="Points"></th>
            </tr>
            <tr th:each="member,status : ${team.members}" style="color: white">
                <td th:text="${member.shirtNumber}"></td>
                <td th:text="${member.position}"></td>
                <td th:text="${member.userName}"></td>
                <td><span th:text="${member.points}" class="label ranking" th:classappend="${member.cssRankClass}"></span></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>